<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.interview.mapper.UserMapper" >
	<select id="findById" resultType="org.interview.entity.User">
		select * from user where id=#{id,jdbcType=BIGINT}
	</select>
	
	<insert id="insertEntity">
		insert into user(username,password) values(#{user.username,jdbcType=VARCHAR},#{user.password,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateUserPassWord">
		update user set password = #{password,jdbcType=VARCHAR} where id=#{id,jdbcType=BIGINT}
	</update>
</mapper>